*{
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
    
}

.banner{
    background-image: url(../images/banner/banner11.png);
    padding: 200px 0;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.b-text{
    font-size: 60px;
    font-weight: 600;
    margin-left: 80px;
    margin-bottom: 20px;

}

.b-description{
   font-size: 16px;
   color:#444343; 
   margin-left: 80px;
   margin-bottom: 30px;

}

.b-btn{
    font-size: 20px;
    padding: 18px 30px;
    color: #FFFF;
    background: coral;
    border: none;
    border-radius: 5px;
    margin-left: 80px;
    
}

/*  banner style  */

.failure{
    display: flex;
    justify-content: space-between;
    margin-top: 150px;
}

.failure-img{
    margin-left: 110px;
}
.fai-text1{
    font-size: 40px;
    font-weight: 600;
    margin-right: 200px;
    padding-top: 250px;
    padding-bottom: 20px;
}

.fai-description{
    margin-right: 250px;
    padding-bottom: 20px;
}

.para-praimary{

}